@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;800&display=swap');

//font-family: 'Lora', serif;
//font-family: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    height: 8vh;
    min-height: 60px;
    background: #fff;
    border-bottom: 1px solid rgb(212, 212, 212);
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;

    nav {
        display: flex;

        .logo-wrapp {
            flex: 2;
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: 24px;
        }

        ul {
            flex: 3;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            
            li {
                .nav-link {
                    font-size: 14px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

.header-gap {
    height: 8vh;
    min-height: 60px;
}

.content {
    width: 100%;
    min-height: 100vh;
    background: #fafafa;
}

.input-form-gap {
    height: 45px;
}

.input-form {
    height: 250px;
    width: 100%;
    background: #fff;
    border: 1px solid #e3e3e3;

    form {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #000;
        align-items: center;
        justify-content: space-around;
        
        label {
            font-size: 32px;
            font-weight: 400;
            margin-top: 30px;
        }

        input {
            height: 45px;
            width: 50%;
            background: #f3f3f3;
            border: none;
            outline: none;
            padding-left: 10px;
            transition: .4s;
            font-size: 16px;

            &:focus, &:hover {
                background: rgb(235, 234, 234);
            }
        }
    }
}

.movie-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.movie-grid:nth-child(2n) {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.movie-grid:nth-child(3n) {
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

.movie-grid:nth-child(1n) {
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.movie {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: #f3f3f3;
    border: 1px solid #e3e3e3;
    width: 350px;
    transition: .4s;

    &:hover {
        background: rgb(235, 234, 234);
    }

    .background {
        height: 94%;
        width: 90%;
    }
}

.movie-imdb-page {
    width: 100%;    

    .movie-page-heading {
        height: 50vh;
        width: 100%;
        display: flex;

        .movie-page-poster-container {
            flex: 1;
            display: flex;

            .movie-poster-container {
                flex: 3;

                img {
                    margin-top: 25px;
                }
            }

            .movie-poster-btns-container {
                flex: 2;
                display: flex;

                .save-btn {
                    height: 50px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(21, 35, 224);
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    margin-top: 25px;
                    outline: none;
                    font-weight: bold;
                    
                    i {
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        }

        .movie-page-info-container {
            flex: 1;
            height: 90%;

            .movie-page-info-title {
               margin-top: 25px; 
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                
                li {
                    line-height: 30px;
                }
            }

            .movie-page-info-plot-container {
                height: 35%;
                background: 100%;
                display: flex;
                align-items: flex-end;

                .movie-page-info-plot {
                        
                }
            }
        }
    }

    .movie-page-footer {
        height: 40vh;
        width: 100%;
    }
}

.awards {
    margin-top: 20px;
}